# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
dist/
build/
npm-debug.log*

# ML Datasets (too large for git)
ml/data/raw/*
ml/data/processed/*
!ml/data/raw/.gitkeep
!ml/data/processed/.gitkeep
*.csv
*.pcap

# OS
.DS_Store
Thumbs.db
